<ion-header>
  <ion-toolbar>
    <ion-title>Liste des profils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col="3">
         <ion-button (click)="setProfil()">Connexion</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col="3">
        <ion-item>
            <ion-input [(ngModel)]="nameFighter"></ion-input>
            <ion-button (click)="fight()"> Let's Fight ! </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of users">
      <ion-col col="5">
        <div class="container_profil">
          {{user.name}}
        </div>
      </ion-col>
      <ion-col col="7">
        <div *ngFor="let profil of user.profils">
          <ion-button (click)="selectProfil(profil)">{{profil.name}}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
