<ion-header>
  <ion-toolbar>
    <ion-title>Liste des profils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col="3">
          <ion-button (click)="fight_page()">Let's Fight !</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col="5">
          <ion-button (click)="getProfil()">Create DB</ion-button>
        <div class="container_profil" *ngFor="let profil of profils">
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
