.login {
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width:500px;
    height:600px;
    border: 2px solid #d7d7d7;
    border-radius:10px;
    padding-bottom:10px;
   
    
}

.title{
    margin-bottom: 30px;
    font-size:30px;
    font-style: bold;
    border:2px solid;
    margin-top:30px;
}