<ion-header>
  <ion-toolbar>
    <ion-title>
      PokéFight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="inputSearch" placeholder="Chercher par nom"></ion-input>
        <ion-button (click)="searchByName()">Rechercher</ion-button>
      </ion-item>
      <ion-item *ngFor="let pokemon of pokemons">
        <ion-grid>
          <ion-row>
            <ion-col (click)="searchByName(pokemon.name)">
              <p >{{ pokemon.name }}</p>
            </ion-col>
            <ion-col (click)="setPokemonAsFavorite(pokemon.id)">
              <ion-icon *ngIf="!pokemon.favorite" name="star-outline"></ion-icon>
              <ion-icon *ngIf="pokemon.favorite" name="star"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
