<ion-header>
  <ion-toolbar>
    <ion-title>
      PokéFight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col="3">
          <ion-button (click)="list_profil_page()">Liste des profils</ion-button>
          <ion-button (click)="openTeamScreen()">Team</ion-button>
      </ion-col>
      <!--
      <ion-col col="3">

      </ion-col>
      <ion-col col="3">

      </ion-col>
      <ion-col col="3">

      </ion-col>
      -->
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="inputSearch" placeholder="Chercher par nom"></ion-input>
        <ion-button (click)="searchByName()">Rechercher</ion-button>
      </ion-item>
      <ion-item *ngFor="let pokemon of pokemons">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <img src="{{pokemon.sprites.front_default}}">
                <ion-row>
                  <ion-col>
                    <ion-title class="ion-text-capitalize">
                      {{ pokemon.name }}
                    </ion-title>
                    <div class="type-badge" *ngFor="let pokemonType of pokemon.types">
                      <span *ngFor="let type of types" class="ion-margin-vertical">
                        <img *ngIf="pokemonType.type.name === type.name" src="{{ type.imageUrl }}" alt="">
                      </span>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-row>
            </ion-col>
            <ion-col>
                <ion-card *ngFor="let ability of pokemon.abilities">
                  <ion-card-header class="ion-text-uppercase">
                    <ion-card-subtitle class="ion-text">
                      <b>{{ ability.ability.name }}</b>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    {{ ability.ability.text }}
                  </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-button (click)="addToTeam(pokemon)">Add to team</ion-button>
                <ion-button (click)="openPokedex(pokemon)">Pokedex</ion-button>
                <ion-button (click)="removePokemon(pokemon)"><ion-icon name="trash"></ion-icon></ion-button>
              </ion-row>
              <ion-row>
                <ion-badge color="light"><b class="ion-text-capitalize">hp: </b>{{ pokemon.stats[5].base_stat }}</ion-badge>
                <ion-badge color="light"><b class="ion-text-capitalize">attack: </b>{{ pokemon.stats[4].base_stat }}</ion-badge>
                <ion-badge color="light"><b class="ion-text-capitalize">defense: </b>{{ pokemon.stats[3].base_stat }}</ion-badge>
                <ion-badge color="light"><b class="ion-text-capitalize">speed: </b>{{ pokemon.stats[0].base_stat }}</ion-badge>
                <ion-badge color="light"><b class="ion-text-capitalize">special-attack: </b>{{ pokemon.stats[2].base_stat }}</ion-badge>
                <ion-badge color="light"><b class="ion-text-capitalize">special-defense: </b>{{ pokemon.stats[1].base_stat }}</ion-badge>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
