ion-badge {
  margin: 6px
}

.type-badge {
  margin: 6px 6px 6px 11px
}

.container_pokemon{
  background-color: rgb(209, 209, 209);
}

#border_display{
  border-style: solid;
  border-radius: 1px;
  border-width: 20px;
  border-color: rgb(219, 26, 26);
}

.border_end{
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(49, 49, 49);
}

