<ion-header>
  <ion-toolbar>
    <ion-title>
      PokéFight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col="3">
          <ion-button (click)="list_profil_page()">Liste des profils</ion-button>
          <ion-button (click)="openTeamScreen()">Team</ion-button>
      </ion-col>
      <!--
      <ion-col col="3">

      </ion-col>
      <ion-col col="3">

      </ion-col>
      <ion-col col="3">

      </ion-col>
      -->
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="inputSearch" placeholder="Chercher par nom"></ion-input>
        <ion-button (click)="searchByName()">Rechercher</ion-button>
      </ion-item>
      <ion-item *ngFor="let pokemon of pokemons">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <img src="{{pokemon.sprites.front_default}}">
                <ion-title>{{ pokemon.name }}</ion-title>
              </ion-row>
            </ion-col>
            <ion-col>
              <span *ngFor="let pokemonType of pokemon.types">
                <span *ngFor="let type of types">
                  <img *ngIf="pokemonType.name === type.name" src="{{ type.imageUrl }}" alt="">
                </span>
              </span>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-button (click)="addToTeam(pokemon)">Add to team</ion-button>
                <ion-button (click)="openPokedex(pokemon)">Pokedex</ion-button>
                <ion-button (click)="removePokemon(pokemon)"><ion-icon name="trash"></ion-icon></ion-button>
              </ion-row>
              <ion-row>
                <ion-card class="ion-padding">
                  <b>hp: </b>{{ pokemon.stats[5].base_stat }}
                  <b>attack: </b>{{ pokemon.stats[4].base_stat }}
                  <b>defense: </b>{{ pokemon.stats[3].base_stat }}
                  <b>speed: </b>{{ pokemon.stats[0].base_stat }}
                  <b>special-attack: </b>{{ pokemon.stats[2].base_stat }}
                  <b>special-defense: </b>{{ pokemon.stats[1].base_stat }}
                </ion-card>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
